@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .drag-none {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
}

body {
  background: #0e0c12;
  height: 100vh;
  width: 100vw;
  font-family: NeueMachina;
}
/**/
/* .typing-demo { */
/* animation: */
/*   typing 0.5s steps(14), */
/*   0.5s step-end infinite alternate; */
/*   white-space: nowrap; */
/*   overflow: hidden; */
/* } */
/* @keyframes typing { */
/*   from { */
/*     width: 0; */
/*   } */
/* } */

.typing-demo {
  animation:
    deleting 0.2s steps(8),
    1s step-start infinite alternate;
  white-space: nowrap;
  overflow: hidden;
}

/* Typing on hover */
.group-container:hover .typing-demo {
  animation:
    typing 0.5s steps(10),
    0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes deleting {
  from {
    display: flex;
  }
  to {
    width: 0;
    display: none;
  }
}

@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/NeueMachina-Bold.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/NeueMachina-Medium.otf") format("opentype");
}

@font-face {
  font-family: "NeueMachina";
  src: url("/fonts/NeueMachina-Light.otf") format("opentype");
  font-weight: 300;
}

* {
  -webkit-user-drag: inherit;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.small-scrollbar::-webkit-scrollbar {
  width: 8px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(205, 193, 176);
  border-radius: 32px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(235, 223, 206);
}

.grid-container {
  --grid-layout-gap: 24px;
  --grid-item--min-width: 280px;
  /* --grid-item--max-width: 400px; */

  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--grid-item--min-width), 1fr)
  );
  grid-gap: var(--grid-layout-gap);
}
